@font-face {
	font-family: 'Black Ops One';
	src: url(../fonts/BlackOpsOne-Regular.ttf) format('truetype');
}
body {
	background-color: hsla(250, 7%, 16%, 1);
	color: hsla(180, 100%, 97%, 1);
}
header {
	text-align: center;
	padding: 3rem;
    color: hsla(180, 100%, 97%, .5);
}
h1.logo {
	font-size: 2rem;
	font-family: 'Black Ops One';
	color: hsla(46, 52%, 44%, 1);
}
header p {
	font-size: 1rem;
	letter-spacing: 0.5rem;
	word-spacing: 1.3rem;
}
